<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.campusplus">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationSample"
        tools:targetApi="31">

        <!-- Splash Screen: Launcher Activity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <!-- News Activities -->
        <activity
            android:name=".NewsMainActivity"
            android:exported="false" />
        <activity
            android:name=".SportsNewsActivity"
            android:exported="false" />
        <activity
            android:name=".ExamNewsActivity"
            android:exported="false" />
        <activity
            android:name=".FacultyNewsActivity"
            android:exported="false" />

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity android:name=".DeveloperActivity"
            android:exported="false" />

        <activity android:name=".EditProfileActivity"
            android:exported="false" />

        <activity android:name=".SettingsActivity"
            android:exported="false" />

        <activity android:name=".MenueActivity"
            android:exported="false" />

        <activity android:name=".FbActivity"
            android:exported="false" />

        <activity android:name=".TwitterActivity"
            android:exported="false" />

        <activity android:name=".GoogleActivity"
            android:exported="false" />

        <activity android:name=".AppleActivity"
            android:exported="false" />



    </application>

</manifest>
